th:focus,
a:focus {
  outline: none; }

.codepen-wrap {
  margin-top: 15px; }

.mdl-data-table {
  width: 100%; }
  .mdl-data-table th {
    cursor: pointer;
	color:rgb(102, 71, 226);
	}
 @font-face {
      font-family: "Myriad Pro Bold";
      src: url("../fonts/Myriad Pro Bold.ttf");
    }
.mdl-data-table tr {
  transition: none !important; }

th md-select {
  margin: 0; }

.md-errors-spacer {
  display: none; }

ul.pagination {
  padding: 0;
  font-size: 0;
  display: inline-block; }
  .pagination > li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    border: 1px solid #ddd;
    border-left: 0; }
    .pagination > li:first-child {
      border-left: 1px solid #ddd;
      border-radius: 2px 0 0 2px; }
    .pagination > li:last-child {
      border-radius: 0 2px 2px 0; }
  .pagination a {
    color: #444;
    font-size: 13px;
    padding: 0 10px;
    line-height: 30px;
    display: inline-block;
    text-decoration: none; }
  .pagination .active {
    background: #3f51b5;
    border-color: #3f51b5; }
    .pagination .active a {
      color: #fff; }
  .pagination-page.active {
    background: #3f51b5; }
    .pagination-page.active a {
      color: #fff; }

.material-icons, .sortable span:before, .sortable span:after {
  font-family: 'Material Icons';
  font-size: 18px;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

.table_dash th, .table_dash td {
text-align:left;
}
.box{
	padding:20px 15px;

}
.iconsList{
	margin:0px !important;
}
.iconsList li{
	float:left;
	list-style-type:none;
	padding-left:10px;
	
}
.material-icons {
	color:rgb(245,0,87);
}
.marginBt20{
	margin-bottom:20px;
}
.pull-right{
	float:right;
}
.marginTop30{
	margin-top:20px;
}
md-menu-bar{
padding:0px 60px !important;	
}
.bgQuestion_video{
	    color: #F5F731;
    background: rgb(102, 71, 226);
    /* width: 1083px; */
    width: 741px;
    height: 200px;
	margin:0px auto;   
	text-shadow: rgb(0, 0, 0) 2px 1px;

}
.questionOptions li{
	float:left;
	list-style-type:none;
	    padding: 6px 10px;
		border:1px solid;
		margin-right:10px;
		cursor:pointer;
}
.questionOptions li:hover{
           background-color:rgb(245,0,87);
		   border-color:rgb(245,0,87);
		   color:#fff;
}

.txt1{
	 font-family: "Myriad Pro Bold" !important;
    font-size: 45px;
	       padding: 41px 18px;
	    line-height: 55px;
}
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
.text-center{
	text-align:center;
}
.sortable span {
  position: relative; }
  .sortable span:before {
    content: 'arrow_drop_down';
    position: absolute;
    right: -18px;
    top: -2px; }
  .sortable span:after {
    content: 'arrow_drop_up';
    position: absolute;
    right: -18px;
    top: -9px; }

.sortable.sort-ascent span:before {
  display: none; }

.sortable.sort-ascent span:after {
  top: -5px; }

.sortable.sort-descent span:before {
  top: -5px; }

.sortable.sort-descent span:after {
  display: none; }
  
  .customColor{
	  
	  color: rgb(255,255,255) !important;
    background-color: rgb(137, 20, 60) !important;
  }
  .customColor1{
	  
	  background-color: rgb(197,17,98) !important;
  }
  
  .md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){


    background-color: rgb(245,0,87);
    color: rgba(255,255,255,0.87);
	
	}
	label.input-custom-file input[type=file] {
  display: none;
  }
  
  input[type='file'] {
  opacity:0    
}
  
  .fontStyling{
	  font-family: cursive !important;
  }
  .videoList tbody tr:hover{
	  background-color:transparent;
  }
  .videoList td{
	  padding:12px 0px;
  }
 .videoList .mdl-card__media{
	background-color:transparent;  
  }
  .videoList td{
	  text-align:left;
	  border-bottom:none;
  }
  .videoList td:first-of-type, .videoList th:first-of-type{
	  padding-left:4px;
  }
  .mdl-card__actions{
	  padding:8px 15px;
	  cursor:pointer;
  }
  .videoList td:last-of-type, .videoList th:last-of-type{
 padding-right:0px;
  }
  .mdl-card__supporting-text h4{
	  margin:0px 0 16px;
  }